@charset "utf-8";
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff url(../img/geometry2.png);
  font-family: "Coda", cursive;
}


/*
 * 容器和标题
 * 弹性盒子
 */

.container,
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.col-md-3 {
  padding: 0;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 3px;
  font-weight: 300;
}


/*
 * 记分板样式
 */

.score-panel {
  text-align: center;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.time-wraper {
  margin-left: 5%;
}

.showtime {
  margin-left: 2%;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}


/*
 * 16 格卡片容器样式
 * 卡片样式
 * 卡片图标
 */

.deck {
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  background-color: transparent;
  position: relative;
  font-size: 0;
  border-radius: 8px;
  cursor: pointer;
  list-style: none;
  transition: 0.6s;
}

.deck .card i {
  overflow: auto;
  color: #ffffff;
  position: absolute;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}


/*
 * javascript 事件的 css 设置
 */

.disable {
  pointer-events: none;
}

.deck .card.open {
  background: #02b3e4;
  cursor: default;
  -webkit-transition: 0.6s;
}

.deck .card.show {
  font-size: 33px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}


/* 前后两个元素匹配时增加的样式 */

.deck .card.li-match {
  font-size: 33px;
  transform: rotateY(180deg);
}

.deck .card i.i-match {
  cursor: default;
  background: #02ccba;
  font-size: 100%;
  animation: matched 0.5s 1;
}


/* 前后两个元素匹配时的伸缩变色动画效果 */

@keyframes matched {
  20%, 60% {
    transform: scale(1.2, 0.8);
    font-size: 80%;
  }
  40%, 100% {
    transform: scale(0.8, 1.2);
    font-size: 100%;
  }
}


/* 前后两个元素不匹配时增加的样式 */

.deck .card.mismatch {
  cursor: default;
  animation: mismatched 0.5s 1;
  -moz-animation: mismatched 0.5s 1;
  -webkit-animation: mismatched 0.5s 1;
  -o-animation: mismatched 0.5s 1;
}


/* 前后两个元素不匹配时的倾斜摇摆变色动画效果 */

@keyframes mismatched {
  0% {
    font-size: 100%;
    background: red;
  }
  20% {
    transform: rotate(-10deg) translate(var(--translateX-one), 0px);
  }
  35% {
    transform: rotate(6deg) translate(var(--translateX-two), 0px);
  }
  45% {
    transform: rotate(-3deg) translate(var(--translateX-three), 0px);
  }
  50% {
    transform: rotateY(0deg);
    background: red;
    font-size: 33px;
  }
  100% {
    transform: rotateY(180deg);
    background: #2e3d49;
  }
}


/*
 * 游戏胜利画面的圆环
 * 在这里面设置划对号的动画
 */

.circle-loader {
  margin: 0 0 30px 10px;
  border: 4px solid rgba(208, 232, 221, 0.88);
  border-left-color: #5cb85c;
  animation-name: loader-spin;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.circle-loader {
  border-radius: 50%;
  width: 8em;
  height: 8em;
}


/*
 * 圆环上的动画效果
 */

@keyframes loader-spin {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(50deg);
  }
}


/* 开始时隐藏对号 */

.checkmark {
  display: none;
}


/* 对号的 css 设置 */

.checkmark:after {
  animation-duration: 500ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
  opacity: 1;
  height: 66px;
  width: 28px;
  transform-origin: left top;
  border-right: 6px solid #5cb85c;
  border-top: 6px solid #5cb85c;
  content: '';
  left: 28px;
  top: 64px;
  position: absolute;
}


/*
 * 圆环中划对号的动画
 */

@keyframes checkmark {
  0% {
    left: 0;
    top: 40px;
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    left: 0;
    top: 40px;
    height: 0;
    width: 64px;
    opacity: 1;
  }
  40% {
    left: 0;
    top: 40px;
    height: 64px;
    width: 64px;
    opacity: 1;
  }
  100% {
    height: 64px;
    width: 28px;
    opacity: 1;
  }
}


/* 划对号结束时隐藏圆环的动画 */

.load-complete {
  -webkit-animation: none;
  animation: none;
  border: 4px solid rgba(208, 232, 221, 0.88);
}


/* 再玩一次按钮 */

.btn-again {
  padding: 12px 36px;
  background: #15d3e6;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 15px;
}


/* 适应电脑等大屏幕 */
@media screen and (max-width: 2000px) {
   :root {
    --translateX-one: -40px;
    --translateX-two: 30px;
    --translateX-three: -25px;
  }

  .deck {
    width: 580px;
    min-height: 580px;
    padding: 32px;
  }

  .deck .card {
    font-size: 33px;
    height: 105px;
    width: 105px;
  }

  .deck .card.show {
    font-size: 33px;
  }

  .deck .card.li-match {
    font-size: 33px;
  }

  .deck .card i {
    height: 105px;
    width: 105px;
  }
}

/* 适应平板屏幕 */
@media screen and (max-width: 920px) {
  h2 {
    font-size: 26px;
  }

   :root {
    --translateX-one: -28px;
    --translateX-two: 24px;
    --translateX-three: -13px;
  }

  .deck {
    width: 530px;
    min-height: 530px;
    padding: 32px;
  }

  .deck .card {
    height: 94px;
    width: 94px;
  }

  .deck .card.show {
    font-size: 18px;
  }

  .deck .card.li-match {
    font-size: 18px;
  }

  .deck .card i {
    height: 94px;
    width: 94px;
  }

}

/* 适应电智能手机屏幕 */
@media screen and (max-width: 500px) {
  h2 {
    font-size: 20px;
  }

   :root {
    --translateX-one: -12px;
    --translateX-two: 9px;
    --translateX-three: -7px;
  }

  .score-panel {
    width: 200px;
  }

  .deck {
    width: 188px;
    min-height: 188px;
    padding: 12px;
  }

  .deck .card {
    font-size: 11px;
    height: 36px;
    width: 36px;
  }

  .deck .card.show {
    font-size: 11px;
  }

  .deck .card.li-match {
    font-size: 11px;
  }
  
  .deck .card i {
    height: 36px;
    width: 36px;
  }
}
