/* border-box 的盒子模型中元素的宽高包括 padding 和 border */

html {
  box-sizing: border-box;
}


/* 从父元素继承 box-sizing 属性,也就是 border-box */

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png');
  /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}


/* 容器和标题 */


/*
 * display : flex 定义弹性盒子，下面的三行 CSS 代码才能使用
 * flex-direction 确立主轴
 * justify-content 定义了在当前行上，弹性项目沿主轴如何排布
 * align-items 定义了在当前行上，弹性项目沿侧轴默认如何排布
 */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}


/*
 * 记分板样式
 */

.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}


/*
 * 牌样式
 */


/*
  * 宽高
  * 背景色由绿到紫，颜色160度倾斜线性渐变
  * box-shadow 第一个参数调整左右偏移程度,这里是右边偏移 12px ,
  * 第二个参数调整上下偏移程度,这里是下面偏移 15px, 第三个参数 20px 调整模糊程度,第四个参数上下左右全方位设置偏移,第五个参数是阴影的颜色
  *
  *
  */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.card-wraper{
  
}
/*一次点击之后禁止再次点击*/
.disable {
  pointer-events: none;
}

.deck .card.open {
  background: #02b3e4;
  cursor: default;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.rotate {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
  /*animation: .3s scale 1;*/
}

@keyframes scale {
  0% {transform:scale(1.3,0.8);}
  25% {transform: scale(0.8,1.3);}
  /*50% {transform: scale(1);}
  75% {transform: scale(1);}*/
  /*100% {transform: scale(1);}*/
}

.deck .card.wrong {
  cursor: default;
  background: red;
  font-size: 33px;
  animation: .8s shake infinite;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  /* Safari 和 Chrome */
}

@keyframes shake {
  0% {
    transform: rotate(20deg);
    transform: translateX(-30px);
  }
  /*25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
    transform: translateX(30px);
  }*/
  100% {
    transform: rotate(0deg);
  }
}
