/* border-box 的盒子模型中元素的宽高包括 padding 和 border */

html {
  box-sizing: border-box;
}


/* 从父元素继承 box-sizing 属性,也就是 border-box */

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png');
  /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}


/* 容器和标题 */


/*
 * display : flex 定义弹性盒子，下面的三行 CSS 代码才能使用
 * flex-direction 确立主轴
 * justify-content 定义了在当前行上，弹性项目沿主轴如何排布
 * align-items 定义了在当前行上，弹性项目沿侧轴默认如何排布
 */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}


/*
 * 记分板样式
 */

.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}


/*
 * 牌样式
 */


/*
  * 宽高
  * 背景色由绿到紫，颜色160度倾斜线性渐变
  * box-shadow 第一个参数调整左右偏移程度,这里是右边偏移 12px ,
  * 第二个参数调整上下偏移程度,这里是下面偏移 15px, 第三个参数 20px 调整模糊程度,第四个参数上下左右全方位设置偏移,第五个参数是阴影的颜色
  *
  *
  */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

/*.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}*/
.deck .card {
  position: relative;
  height: 125px;
  width: 125px;
  list-style: none;
}

.card-wraper{
  position: absolute;
  height: 125px;
  width: 125px;
  overflow: hidden;
  /*黑色背景*/
  background: #2e3d49;
  /*白色字体*/
  color: #ffffff;
  /*开始时不显示字体*/
  font-size: 0;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  /*中间对齐*/
  justify-content: center;
  align-items: center;
  overflow: auto;
  /*阴影设置*/
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

/*一次点击之后禁止再次点击*/
.disable {
  pointer-events: none;
}

/*当翻开牌时出现沿Y轴旋转180度的动画效果*/
.deck .card .card-wraper.open {
  background: #02b3e4;
  cursor: default;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.rotate {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/*当翻开牌时牌的内容也就是字体大小从零设置为正数从而可见*/
.deck .card .card-wraper.show {
  font-size: 33px;
}


.deck .card .card-wraper.match {
  cursor: default;
  background: #02ccba;
  animation:mymove 2.5s 1;
}

@keyframes mymove {
0%   {left:-10px;top:10px;width:145px;height:105px}
25%  {left:10px;top:-10px;width:105px;height:145px}
75%  {left:-10px;top:10px;width:145px;height:105px}
100% {left:10px;top:-10px;width:105px;height:145px}
}
