.checkmark:before {
  content: '';
  display: inline-block;
  /* 控制长短 */
  width: 6px;
  height: 28px;
  background: #5cb85c;
  /* 展示从对号到错号渐变的动画效果 */
  transition: all 800ms ease;
  position: absolute;
  /* 通过 margin 控制位置 */
  margin-top: -60px;
  /* 为了增强从对号到错号的动画效果 */
  /*transform: rotate(360deg);*/
  border-radius: 50px;
}

.checkmark:after {
  content: '';
  display: inline-block;
  /* 控制长短 */
  width: 28px;
  height: 6px;
  background: #5cb85c;
  /* 展示从对号到错号渐变的动画效果 */
  transition: all 800ms ease;
  position: absolute;
  /* 通过 margin 控制位置 */
  margin-top: -60px;
  /* 为了增强从对号到错号的动画效果 */
  /*transform: rotate(360deg);*/
  border-radius: 50px;
}
